.gameInfo {
    margin-top: 20px;
}

.move {
    min-width: 130px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
.move:hover {
    border-color: #646cff;
}
.move:focus,
.move:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
