.header {
    grid-area: header;
    width: 100%;
    max-height: 100px;
    height: 100px;
    background-color: #222;
    color: #fff;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1em rgba(0, 0, 0, 0.8);
    position: static;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}
